@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <p>Import success!</p>
            <p><strong>Professor ID:</strong> @ViewBag.idProfessor </p>
            <p><strong>Nome do Aluno:</strong> @ViewBag.Estudante </p>
            <p><strong>Mensalidade:</strong> @ViewBag.PagamentoMensal </p>
            <p><strong>Data de Vencimento:</strong> @ViewBag.DataVencimento </p>

            @if (ViewData["Erro"] != null)
            {
                @ViewData["Erro"];
            }
        </div>
    </div>
</div>